body {
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

header {
    background-color: gray;
    height: 150px;
}

h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    margin: 10px auto;
}

.inputContainer {
    width: 95%;
}

.inputFieldsContainer {
    justify-content: space-between;
    display: flex;
}

.firstName {
    border: 2px solid black;
    width: 200px;
    font-size: 24px;
    padding-left: 10px;

}

.lastName {
    border: 2px solid black;
    width: 200px;
    font-size: 24px;
    padding-left: 10px;
}

.id {
    border: 2px solid black;
    width: 200px;
    font-size: 24px;
    padding-left: 10px;
}

.title {
    border: 2px solid black;
    width: 200px;
    font-size: 24px;
    padding-left: 10px;
}

.annualSalary {
    border: 2px solid black;
    width: 200px;
    font-size: 24px;
    padding-left: 10px;
}



.submitButton {
    background-color: lightgrey;
    font-size: 24px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px;
    border: solid 2px black;
    float: right;

}

table, th, td {
    border: 2px solid black;
}