body {
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

header {
    background-color: gray;
    height: 100px;  
}

h1 {
    color: white;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    margin: 0px auto;
    padding: 22px;

}

.inputContainer {
    display: block;
    height: 100px;
}

h2 {
    font-size: 32px;
    font-weight: normal;
}

.inputFieldsContainer {
    justify-content: space-between;
    display: flex;
}

.firstName {
    border: 2px solid black;
    width: 200px;
    font-size: 24px;
    padding-left: 10px;

}

.lastName {
    border: 2px solid black;
    width: 200px;
    font-size: 24px;
    padding-left: 10px;
}

.id {
    border: 2px solid black;
    width: 200px;
    font-size: 24px;
    padding-left: 10px;
}

.title {
    border: 2px solid black;
    width: 200px;
    font-size: 24px;
    padding-left: 10px;
}

.annualSalary {
    border: 2px solid black;
    width: 200px;
    font-size: 24px;
    padding-left: 10px;
}

.submitButton {
    background-color: lightgrey;
    font-size: 24px;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
    border: solid 2px black;
    float: right;
}

.deleteButton {
    background-color: lightgrey;
    font-size: 24px;
    width: 150px;
    border-radius: 10px;
    border: solid 2px black;

}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 24px;
}

table, th, td {
    border: 2px solid black;
}

th {
    height: 50px;
    background-color: rgb(173, 173, 173);
    text-align: left;
    padding-left: 10px;
    font-weight: normal;
    vertical-align: middle;
}

td {
    height: 50px;
    padding-left: 10px;
}

tr:nth-child(even){
    background-color: lightgrey;
}

#salaryColumn {
    text-align: right;
    padding-right: 10px;
}

#deleteColumn {
    text-align: center;
}

#deleteHeader {
    width: 215.56px;
}

.monthlyCostHeader {
    float: right;
    font-size: 32px;
    margin-top: 20px;
}

#monthlyCost {
    display: inline-block;
    font-size: 32px;
}